
// { "presets": ["@babel/preset-env"],
// "env": {
//     "development" : {
//         "compact": false
//     }
//     }
// }
{
    "presets": ["@babel/preset-env"],
    // "env": {
    // "development" : {
    //     "compact": false
    // }
}
