$variable-prefix: "";

$breadcrumb-divider: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  viewBox='0 4 24 15' preserveAspectRatio='none' width='1.3rem' height='0.7rem'><path d='M4,10V14H13L9.5,17.5L11.92,19.92L19.84,12L11.92,4.08L9.5,6.5L13,10H4Z' fill='#febe6a' /></svg>");

$box-shadow-inset: inset 0 1px 2px rgba(#000, 0.075);
