.best-crs-section {
    background-color: $gray-8;
    padding: 125px 0px 125px 0px;
}

.best-crs-pic-text {
    border-radius: 15px;
    overflow: hidden;
    min-height: 320px;
    margin-bottom: 30px;
    background-color: $gray-8;
    // padding-top: 30px;

    .crs-title {
        h3 {
            line-height: 25px;
        }

        &:after {
            display: none;
        }
    }

    .best-crs-text {
        background-color: $gray-8;
        border-radius: 4px;
        padding: 20px 25px 30px 25px;
        transition: 0.3s all ease-in-out;

        h3 {
            color: $white;
        }

        .crs-meta {
            span {
                color: $gray-2;
                -webkit-font-smoothing: antialiased;
            }
        }
    }

    .best-crs-pic {
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 160px;
        background-color: #555555;
        overflow: hidden;
        // border-radius: 4px;
    }

    .crs-price {
        bottom: 20px;
        z-index: 1;
        // top: inherit;
    }
    .crs-price {
        top: inherit;
        left: 20px;

        padding: 5px 15px;
        border-radius: 4px;
        position: absolute;
        span {
            color: $gray-8;
        }
    }

    .crs-rate {
        position: absolute;
        right: 25px;
        bottom: 25px;
        transition: 0.3s all ease-in-out;

        li {
        }
    }

    .crs-details-btn {
        top: inherit;
        bottom: 25px;
        right: 5px;
    }

    &:hover .crs-details-btn {
        opacity: 1;
        right: 25px;
        visibility: visible;
        z-index: 1;
    }

    &:hover .crs-rate {
        opacity: 0;
    }

    &:hover .best-crs-text {
        box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.1);
    }
}

.crs-rate li {
    color: #ffc926;
}

.trend-badge-2 {
    top: -18px;
    left: -50px;
    color: #fff;

    position: absolute;
    padding: 30px 35px 5px;
    transform: rotate(-45deg);
    background-color: #ff5a00;
    z-index: 3;

    span {
        display: block;
    }
}

.crs-pagination {
    li {
        color: #bababa;
        margin: 0 5px;
    }

    li.active {
        color: $gray-8;
    }

    .pg-text {
    }
}

.best-crs-v2 {
    // background-color: #fff;
    padding-bottom: 80px;

    .best-crs-pic-text {
        .best-crs-text {
            // background-color: #f7f7f7;
        }
    }
}

.crs-search-filter {
    display: inline-block;
    width: 100%;
    // padding-bottom: 70px;
}

.crs-button {
    ul.product-tab li.active:after {
        display: none;
    }

    ul.product-tab li:before {
        content: "";
        position: absolute;
        top: -15px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $base-color-2;
        transform: rotate(-180deg);
        left: 0;
        width: 20px;
        right: 0;
        opacity: 0;
        margin: 0 auto;
    }

    ul.product-tab li.active:before {
        opacity: 1;
    }

    ul.product-tab li.active {
        .category-icon-title:after {
            opacity: 1;
            transform: scale(1);
        }

        .category-icon i {
            color: #fff;
            -webkit-text-fill-color: inherit;
        }

        .category-title h4 {
            color: #fff;
        }
    }

    .category-title h4 {
        text-transform: capitalize;
    }

    ul.product-tab li {
        margin: 0;

        .category-icon-title {
            width: 180px;
            height: 180px;
            padding: 20px;
            overflow: hidden;
        }
    }
}

.button-tab {
    .owl-stage-outer {
        padding: 20px 0px;
    }

    .owl-prev {
        position: absolute;
        left: 0;
    }
}

.crs-button {
    background-color: #fff;
}

.one-page-category {
    padding-top: 0;

    .category-slide {
        margin-top: 0;

        .owl-nav {
            top: 46%;
            width: 108%;
        }
    }
}
